body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#texto {
    height: 150px;
    width: 300px;
    color: #ccc;
    background-color: #444141;
    font-size: 20px;
}

label {
    font-size: 40px;
    letter-spacing: 1px;
    color: #444141;

}

span {
    font-size: 20px;
    color: #444141;
}