* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252a;
}

/* BARRA DE NAVEGACION */
h1 {
    color: #edf0f1;
    font-family: "montserrat", sans-serif;
    font-size: 32px;
    cursor: pointer;
    margin-right: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.nav__style {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #edf0f1;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

#nav__button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#nav__button:hover {
    background-color: rgba(0, 136, 169, 0.7);
}

/* ESTILO "SOBRE MI" */

